/* Add CSS Styling */
* {
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd {
    background-color: palevioletred;
}

#bigBlue {
    color: blue;
    font-size: 36px;
}

#boldGreen {
    background-color: lime;
    font-weight: bold;
    font-size: 24px;
}

.cooler {
    font-size: 24px;
}

