.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  /* border: 3px black; */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: greenyellow;
  padding: 4px 32px;
  align-self: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 2px;
  gap: 2px;
}

a {
  font-size: 22px;
  background: white;
  color: blue;
  padding: 2px;
  margin: 3px;
  /* this removes the line under the links */
  text-decoration: none;
}