/* Add CSS Styling */
* {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.yellowBlack {
    background-color: yellow;
}

.blackWhite {
    background-color: black;
    color: white;
}

